$primary-color: #272727;
$secondary-color: #a29c9b;

.heading2 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.heading3 {
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.5;
}

.comp {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  ul {
    margin-top: 0;
    line-height: 1.5;
  }

  &__image {
    margin: 2rem 0 1rem;
    align-self: center;
    max-height: 270px;
    max-width: 480px;
  }
}

$mobile: 800px;