@import "config";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto 6rem;
  font-size: 2rem;

  &__item {
    display: flex;
    flex-direction: row;
    margin: 2rem;

    &__linkedin {
      cursor: pointer;
    }
    
  }

  .heading3 {
    margin-left: 2rem;
  }
}
