@import 'config';

.container {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  padding: 0 1rem;
  align-self: center;
}


.eduTitleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-style: italic;
  margin-top: 1rem;

  &__title {
    width: 70%;
  }

}