@import "config";

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-evenly;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

.container {
  @include flexCenter(column);
  max-width: 50rem;
  padding: 0 1rem;
  margin: 3rem auto 0;
}

.containerWrap {
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.borderCircle {
  border-radius: 9999px;
}

.navigation {
  align-items: center;
}

.navigationRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  list-style-type: none;
  padding-right: 3rem;

  @include mobile {
    flex-direction: column;
  }

  li {
    @include mobile {
      margin: 0.2rem;
    }
    font-size: 1.25rem;
    text-decoration: none;
    color: $primary-color;
  }

  li:hover {
    color: $secondary-color;
  }
}
