@import 'config';

.container {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto 6rem;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


